@using GeoTurk.Models;
@using GeoTurk.Helpers;

@model List<HIT>

@{
    ViewBag.Title = "ჩემი ამოცანები";
    var hits = Model;
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>
                დასახელება
            </th>
            <th>
                აღწერა
            </th>
            <th>
                ხანგრძლივობა
            </th>
            <th>
                მოქმედების ვადა
            </th>
            <th>
                ტაგები
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hit in hits)
        {
            <tr>
                <td>@hit.Title</td>
                <td>@hit.Description</td>
                <td>@hit.DurationInMinutes წუთი</td>
                <td>@hit.ExpireDate.ToGeorgianDate()</td>
                <td>@hit.Tags</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu-@hit.HITID" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu-@hit.HITID">

                            <li><a href="@Html.Raw(Url.Action("ViewHIT", "Worker", new { hitID = hit.HITID }))">დეტალების ნახვა</a></li>
                            
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
