@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="@Url.Action("UserTransactions", "Account")">ბალანსი: <span id="user-balance"></span></a>
            </li>
            <li>
                @Html.ActionLink("გამარჯობა " + User.Identity.GetUserName() + "!", "ProfileInfo", "Account")
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">გამოსვლა</a></li>
        </ul>
    }
}   
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("რეგისტრაცია", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("შესვლა", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

<script>
    $(document).ready(function () {
        $.ajax({
            url: "@Url.Action("GetUserBalance", "Account")",
            type: "POST",
            success: function (res) {
                $("#user-balance").html(res.balance);
            }
        });
    })
</script>
