@model GeoTurk.Models.HIT

@{
    ViewBag.Title = "დავალება";

    var isCompleted = ViewBag.IsCompleted ?? false;
    var isMaxedOut = ViewBag.MaxWorkers ?? false;
}

<div class="row" style="text-align:center;">
    <h3><b>@Model.Title</b></h3>
</div>

<div class="" style="margin: 15px;">
    <div class="col-md-7">
        <div class="row row-details">
            <div class="form-group">
                @Html.LabelFor(model => model.DurationInMinutes, "ხანგრძლივობა", new { @class = "col-md-4" })
                <div class="col-md-8 value">
                    @Html.DisplayFor(model => model.DurationInMinutes) წუთი
                </div>
            </div>
        </div>
        <hr />
        <div class="row row-details">
            <div class="form-group">
                @Html.LabelFor(model => model.Instuction, new { @class = "col-md-4" })
                <div class="col-md-8 value">
                    @Html.DisplayFor(model => model.Instuction)
                </div>
            </div>
        </div>
        <hr />
        <div class="row row-details">
            <div class="form-group">
                @Html.LabelFor(model => model.ExpireDate, new { @class = "control-label col-md-4" })
                <div class="col-md-4 value">
                    @Html.DisplayFor(model => model.ExpireDate)
                </div>
            </div>
        </div>
        <hr />
        <div class="row row-details">
            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "col-md-4" })
                <div class="col-md-8 value">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
        </div>
        <hr />
        @if (!string.IsNullOrEmpty(Model.RelatedFilePath))
            {
            <div class="row row-details">
                <div class="form-group">
                    @Html.LabelFor(model => model.RelatedFilePath, new { @class = "col-md-4" })
                    <div class="col-md-8 value">
                        <a href="@Model.RelatedFilePath" target="_blank">იხილეთ დაკავშრებული ფაილი</a>
                    </div>
                </div>
            </div>
            <hr />
        }
        <div class="row row-details">
            <div class="form-group">
                @Html.LabelFor(model => model.AnswerType, new { @class = "col-md-4" })
                <div class="col-md-8 value">
                    @Html.DisplayFor(model => model.AnswerType)
                </div>
            </div>
        </div>
        <hr />
        <div class="row row-details">
            <div class="form-group">
                @Html.LabelFor(model => model.ChoiseType, new { @class = "col-md-4" })
                <div class="col-md-8 value">
                    @Html.DisplayFor(model => model.ChoiseType)
                </div>
            </div>
        </div>
        <hr />
        <div class="row row-details">
            <div class="form-group">
                @Html.LabelFor(model => model.WorkersCount, new { @class = "col-md-4" })
                <div class="col-md-8 value">
                    @Html.DisplayFor(model => model.WorkersCount)
                </div>
            </div>
        </div>
        <hr />
        <div class="row row-details">
            <div class="form-group">
                @Html.LabelFor(model => model.Cost, new { @class = "col-md-4" })
                <div class="col-md-8 value">
                    @Html.DisplayFor(model => model.Cost)
                </div>
            </div>
        </div>
        <hr />
        <div class="row row-details">
            <div class="form-group">
                @Html.LabelFor(model => model.Tags, new { @class = "col-md-4" })
                <div class="col-md-8 value">
                    @Html.DisplayFor(model => model.Tags)
                </div>
            </div>
        </div>
        <hr />
    </div>
    <div class="col-md-5">
        <div class="well center-block">
            <div class="row row-details">
                <div class="form-group">
                    <label class="col-md-5" for="workers-count">შემსრულებლები: </label>
                    <div id="workers-count" class="col-md-4 value">
                        @Model.WorkerHITs.Count()
                    </div>
                </div>
            </div>
            <hr />
            <div class="row row-details">
                <div class="form-group">
                    <label class="col-md-5" for="workers-count">შესრულებულია: </label>
                    <div id="workers-count" class="col-md-4 value">
                        @Model.WorkerHITs.Count(x => x.CompleteDate.HasValue)
                    </div>
                </div>
            </div>
            <hr />
            @if (!isCompleted)
            {
                if (isMaxedOut)
                {
                    <p class="text-center text-success">
                        დავალების მაქსიმალური შემსრულებლების რაოდენობა მიღწეულია
                    </p>
                }
                else
                {
                    <a id="assign-hit" class="btn btn-primary btn-lg btn-block" href="@Url.Action("Work", "Worker", new { hitID = Model.HITID })">
                        შესრულება
                    </a>
                }
            }
            else
            {
                <p class="text-center text-success">
                    თქვენ უკვე შესრულებული გაქვთ დავალება
                </p>
            }
        </div>
    </div>
</div>

@*<script>
        $(function () {
            $("#assign-hit").on("click", function () {
                $.ajax({
                    url: "@Url.Action("AssignTask", "Worker")",

                });
            });
        });
    </script>*@